# Icecast upstream base URL for dev server proxying
ICECAST_BASE_URL=https://radio.katusa.space

# List of Icecast channels/mounts (mount:DisplayName format, separated by commas)
ICECAST_CHANNELS=club.mp3:Club,china.mp3:China,edm.mp3:EDM,jpop.mp3:J-Pop,kpop.mp3:K-Pop,pop.mp3:Pop